@import url('https://fonts.googleapis.com/css2?family=Gluten&display=swap');
.App {
    width: 100vw;
    height: 100vh;
    font-family: "Nunito", sans-serif;
    background-image: url("./Components/img/fifa-19.jpg");
    background-position: center;
    background-size: cover;
}

body {
    padding: 0;
    margin: 0;
}

.text {
    font-family: 'Gluten', cursive;
    font-size: 90px;
    background: -webkit-linear-gradient(180deg, rgb(214, 252, 43), black, black, black);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    position: absolute;
    right: 200px;
    top: 100px;
}